################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.svn

# vs
.vs
*.vcxproj.user

# c++
x86
x64

# cs
obj
bin
Debug
Release

