################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/vs/vs/.vs/vs/v16
/.vs
/vs/.vs
/vs/vs/Cpp/Cpp.vcxproj.user
/vs/Cpp/Cpp.vcxproj.user
